{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Torneio | POT</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <h1>Plataforma de Torneios</h1>
    <nav>
      <a href="{% url 'painel' %}">🏠 Início</a>
      <a href="{% url 'criar_torneio' %}">⚒️ Criar Torneio</a>
      <a href="{% url 'inscricoes' %}">📝 Inscrições</a>
      {% if torneios %}
        <a href="{% url 'chaveamento' torneios.0.id %}">📊 Chaveamento</a>
      {% endif %}
      <a href="{% url 'login' %}" style="color:#d62828;">🚪 Sair</a>
    </nav>
  </header>

  <main class="form-container">
    <h2>Criar Novo Torneio</h2>
    <form class="form-box" method="POST" action="">
      {% csrf_token %}
      <label>Nome do Torneio:</label>
      <input type="text" name="nome" placeholder="Ex: Copa Gamer 2025" required>

      <label>Descrição:</label>
      <textarea name="descricao" placeholder="Descreva o torneio..." required></textarea>

      <label>Regras:</label>
      <textarea name="regras" placeholder="Insira as regras principais" required></textarea>

      <label>Data:</label>
      <input type="date" name="data" required>

      <button type="submit">Criar Torneio</button>
    </form>

  </main>
</body>
</html>
